<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} - Calyx</title>
    {{> meta}}
  </head>
  <body>
    {{> navbar}}
    <main class="page">
      <header class="pagebar">
        <ul class="breadcrumbs">
          {{#breadcrumbs}}
            <li><a href="{{crumb_url}}">{{crumb_title}}</a></li>
          {{/breadcrumbs}}
        </ul>
        <h1>{{title}}</h1>
      </header>
      <article class="document">
        {{{body}}}
      </article>
      <aside class="sidebar">
      {{#resource.is_guide?}}
        {{> guides-menu}}
      {{/resource.is_guide?}}
      </aside>
    </main>
    <script type="module" src="/ui/components.js"></script>
    {{#resource.has_example_bundle_js?}}
    <script type="module" src="/ui/{{name}}-examples.js"></script>
    {{/resource.has_example_bundle_js?}}
  </body>
</html>
