<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calyx</title>
    {{> meta}}
  </head>
  <body>
    {{> navbar}}

    {{#resource.is_home?}}
      {{> hero}}
    {{/resource.is_home?}}

    <main class="page">
      {{#resource.is_doc_index?}}
        <header class="pagebar">
          <ul class="breadcrumbs">
            {{#breadcrumbs}}
              <li><a href="{{crumb_url}}">{{crumb_title}}</a></li>
            {{/breadcrumbs}}
          </ul>
          <h1>{{resource.title}}</h1>
        </header>
        <article class="documents">
          <header class="intro">
            {{{resource.body_html}}}
          </header>
          {{#children}}
            <h2><a href="{{url}}">{{title}}</a></h2>
          {{/children}}
        </article>
        <aside class="sidebar">
          {{> guides-menu}}
        </aside>
      {{/resource.is_doc_index?}}
    </main>
    <div class="introduction">
      <div class="introduction-box">
        <h2>What is Calyx?</h2>
        <p>Calyx is a simple and powerful software library for producing random sequences of text using template expansion grammars.</p>
        <p>Its primary affordances are for creating artbots, name generators and weird combinatorial prose and poetry but you can use it to generate anything that has a textual or tree-based representation, including SVG graphics, MIDI notes, or worldbuilding data and story structures within a larger system.</p>
      </div>
      <div class="introduction-box">
        <h2>Why grammars?</h2>
        <p>There are many useful and interesting methods for generative writing. The grammar-based approach is popular, widely studied and practiced, and easy to get started with.</p>
        <p>Grammars offer direct authorial control over the fragments that combine to produce an output text. This involves more effort and structure than other more random approaches, but leads to carefully crafted and expressive results which still have a capacity to surprise, delight, and confound—as any good text generation method should.</p>
      </div>
    </div>

    <div class="supporters">
      <a href="https://productdesign.ac.nz/"><img id="uc-logo" src="/assets/supporters/uc-games-logo.png" alt="School of Product Design, University of Canterbury"></a>
      <a href="https://mch.govt.nz/"><img id="mch-logo" src="/assets/supporters/mch-rgb-disk.png" alt="Manatū Taonga Ministry for Culture and Heritage"></a>
      <a href="https://ruby.nz/"><img id="rubynz-logo" src="/assets/supporters/rubynz-logo.png" alt="RubyNZ"></a>
    </div>
  </body>
</html>
