<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} - Calyx</title>
    {{> meta}}
  </head>
  <body>
    {{> navbar}}
    <main class="page">
      <header class="pagebar">
        <ul class="breadcrumbs">
          <li><a href="/">Home</a></li>
          <li><a href="/introduction/">Introduction</a></li>
        </ul>
        <h1>{{resource.title}}</h1>
      </header>
      <article class="document">
        {{{resource.body_html}}}
      </article>
      <aside class="sidebar">
        <nav class="menu">
          <div class="menu">

          <p class="menu-label">
          <a href="/introduction/" class="">Introduction</a>
          </p>
          <ul class="menu-list">

          <li><a href="/introduction/tutorial" class="is-active">Tutorial</a></li>

          <li><a href="/introduction/concepts" class="">Key Concepts</a></li>

          <li><a href="/introduction/beginners" class="">For Beginners</a></li>

          <li><a href="/introduction/contributing" class="">Contributing</a></li>

          </ul>

          <p class="menu-label">
          <a href="/guides/" class="">Guides</a>
          </p>
          <ul class="menu-list">

          <li><a href="/guides/installation" class="">Installation</a></li>

          <li><a href="/guides/results" class="">Generating Results</a></li>

          <li><a href="/guides/dynamic-rules" class="">Dynamic Rules</a></li>

          <li><a href="/guides/template-expressions" class="">Template Expressions</a></li>

          <li><a href="/guides/weighted-choices" class="">Weighted Choices</a></li>

          <li><a href="/guides/extending" class="">Extending Grammars</a></li>

          <li><a href="/guides/random-seeds" class="">Random Seeds</a></li>

          </ul>
        </nav>
      </aside>
    </main>
    <script type="module" src="/ui/components.js"></script>
    <script type="module" src="/ui/{{name}}-examples.js"></script>
  </body>
</html>
