body {
  font-family: "Libre Franklin", sans-serif;
}

/*
  Avoids flash of unstyled content when light DOM markup is rendered as-is
  before the live component mounts to the custom element.
 */
example-script:not(:defined) {
  display: none;
}

main {
  margin: 200px auto;
  width: 60%;
}
