@use "foundation/text";
@use "foundation/scale";
@use "foundation/media";

.menu {
  width: 100%;
  padding-top: scale.$p0;

  .menu-label,
  .menu-list li {
    @include media.at-least-tablet {
      font-size: scale.$m1;
    }

    @include media.until-tablet {
      font-size: scale.$m1;
    }
  }

  .menu-label {
    margin: scale.$p0 0 0 0;
    font-weight: 900;
    font-family: text.$font-display-family;

    &:first-child {
      margin-top: 0;
    }

    a {
      display: block;
      padding: scale.$m1 scale.$p0;
    }
  }

  .menu-list {
    font-weight: 500;

    a {
      display: block;
      padding: scale.$m1 scale.$p0;
    }
  }

  .menu-label, .menu-list {
    a {
      color: var(--color-menu-link-default);

      &.is-active {
        color: var(--color-menu-active-default);
        background-color: var(--color-menu-active-background);
      }

      &:hover {
        &:not(.is-active) {
          background-color: var(--color-menu-link-background);
        }
      }
    }
  }
}
