@use "foundation/scale";

$pagebar-height: (scale.$p2 + scale.$p1 + scale.$m2 + scale.$m3);

.pagebar {
  //background: radial-gradient(circle at left, var(--color-pagebar-background-1), var(--color-pagebar-background-2));
  // background:
  //   linear-gradient(var(--color-pagebar-background-1), var(--color-pagebar-background-2)),
  //   radial-gradient(circle at right, var(--color-pagebar-background-3), var(--color-pagebar-background-4));
  // background-blend-mode: multiply;
  background: radial-gradient(circle at right, var(--color-primary-6), var(--color-primary-8));
  min-height: $pagebar-height;
  color: var(--color-primary-1);
  padding: scale.$p0;

  .breadcrumbs {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;

    li {
      margin-right: scale.$m2;
      font-size: scale.$m1;
      font-weight: 500;

      &:not(:first-child) {
        &:before {
          content: "/";
          margin-right: scale.$m2;
        }
      }
    }
  }

  h1 {
    display: inline-block;
    margin-top: scale.$m3;
    line-height: 1.2;
    font-size: scale.$p2;
    //background-color: #0A2E19;
    //background-color: var(--color-navbar-background);
    //border-radius: 3px;

    // background: repeating-linear-gradient(
    //   50deg,
    //   #0A2E19 3px,
    //   #23894C 10px,
    //   #3DC569 4px
    // ),
    // repeating-linear-gradient(
    //   -50deg,
    //   #0A2E19 3px,
    //   #23894C 10px,
    //   #3DC569 4px
    // );
    // background-blend-mode: multiply;
    // border-radius: 3px;
    // opacity: 0.85;

    padding: scale.$m3 scale.$p0 scale.$m3 scale.$m2;
    //clip-path: polygon(0 0, 100% 0, 100% calc(100% - 18px), calc(100% - 18px) 100%, 0 100%);
  }
}
