<nav class="menu">
  <p class="menu-label">
    <a href="/guides/getting-started.html">Getting Started</a>
  </p>
  <ul class="menu-list">
    <li><a href="/guides/getting-started/" class="">Starter Packs</a></li>
    <li><a href="/introduction/concepts/" class="">Command Line Use</a></li>
    <li><a href="/introduction/beginners/" class="">For Beginners</a></li>
    <li><a href="/introduction/contributing" class="">Contributing</a></li>
  </ul>
  <p class="menu-label">
    Features
  </p>
  <ul class="menu-list">
    <li><a href="/guides/branches/" class="">Uniform Branches</a></li>
    <li><a href="/guides/branches/" class="">Weighted Branches</a></li>
    <li><a href="/guides/results/" class="">Generating Results</a></li>
    <li><a href="/guides/template-expansion/" class="">Prefix Modifiers</a></li>
    <li><a href="/guides/template-expansion/" class="">Filter Chains</a></li>
    <li><a href="/guides/random-seeds/" class="">Random Seeds</a></li>
    <li><a href="/guides/dynamic-contexts/" class="">Dynamic Contexts</a></li>
  </ul>

  <p class="menu-label">
    Ruby
  </p>
  <ul class="menu-list">
    <li><a href="/guides/ruby-blocks/" class="">Constructor Blocks</a></li>
    <li><a href="/guides/ruby-inheritance/" class="">Grammar Inheritance</a></li>
  </ul>
</nav>
