<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Calyx Docs</title>
  <link rel="stylesheet" type="text/css" href="/ui/calyx.css">
</head>
<body>
  <header class="topbar spot">
    <div class="logo">
      <img src="/logo.svg" alt="Calyx logo">
    </div>
    <nav class="document-nav">
      <!-- <ul>
        <li><a href="/domain">Domain Model</a></li>
        <li><a href="/runbook">Runbook</a></li>
        <li><a href="/styleguide">Styleguide</a></li>
      </ul> -->
    </nav>
  </header>
